{
    "arrowParens": "avoid",
    "singleQuote": true,
    "IsSingleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "semi": false,
    "proseWrap": "always",
    "printWidth": 80,
    "plugins": ["prettier-plugin-tailwindess"]
}
